.home {

    &-projectScroll {
         position: relative;
         color: #fff;
         font-size: 0.75vw;
         font-weight: 900;
         top: 4%;
    }

    &-container {
        background-color: #10002B;
        width: 100%;
        height: calc(100% - 35px);
        padding-left: 5%;
        padding-right: 5%;
        position: relative;
        display: flex;
        justify-content: center;
    }

    &-content {
        background-color: #10002B;
        height: 100%;
        width: 90%;
        position: relative;
        display: flex;
        justify-content: center;
    }

    &-content-container {
        width: 100%;
        height: 200px;
        overflow: hidden;

    }

    &-personal {
        width: 100%;
        height: 200px;
        background-color: red;
    }

    &-projects {
        width: 100%;
        height: 200px;
        background-color: blue;
    }

    &-slider {
        &-container {
            background-color:#10002B;
            width: 100%;
            height: 100%;
           
            &-videos {
                height: 100%;
                width: 100%;
                margin: auto;
            }

            &-video {
                  
                position:relative;
                width: 100%;
                height: 100%;
                background-color: #202020;
            }
            
            &-video::-webkit-media-controls-volume-slider {
                display: none;
            }
        }
    }

    &-info {

        &-meat {
            background-color: #10002B;
            overflow: auto;
            display: flex;
            flex-direction: column;
            margin-top: -1vh;
            align-items: center;
            justify-content: center;
            max-width: 35vw;
            height:100%;
        }


        &-stuff {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: stretch;
           // height: 100%;
        }

        &-personwrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            max-width: 30%;
            justify-content: center;
            align-items: center;
            margin-left: 1vw;
        }

        &-header-container {
            position: relative;
            width: 100%;
            height: 15vh;
            background-color: transparent;
            display:flex;
            justify-content: center;
            align-items: center;
        }

        &-body-container {
            position: relative;
            width: 100%;
            height: 70vh;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: auto;
        }

        &-footer-container {
            position: relative;
            width: 100%;
            height: 15vh;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-canvas {
            height: 100%;
            width: 100%;
            background-color: #10002B;
            z-index:  -1;
            position: absolute;
        }

        &-portrait {
            max-width: 19vw;
            height: auto;
            position: relative;
            z-index: 4;
            border: 5px solid #7B2CBF;
           
            
        }

        &-text {
            color: #7B2CBF;
            border: 3px solid #7B2CBF;
            border-radius: 10px;
            background-color: #fff;
            height: auto;
            width: 95%;
            overflow: auto;
            position: relative;
            margin: 0px 5px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
           // margin-top: 5%;
            &-p {
                font-size: 0.55vw;
                position: relative;
                font-weight: 500;
                padding: 0px 10px;
                line-height: normal;
            }
        }

        &-welcome {
            color: #fff;
            font-size: 5vw;
            font-weight: 900;
            padding-top: 10px;
            display: inline-block;
            line-height: 1rem;
        }

        

        &-social {
            height: auto;
            width:  3vw;
            position: relative;
            margin-top: 0.5vh;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            &-icon {
                width: 75%;
                background-color: transparent;
                cursor: pointer;
            }

            &-span {
                width: 50%; 
                margin: 0.5vh 0vh;
                display: flex;
                justify-content: center;
                align-items: center;
               
            }

            // &-span:not(:first-child) {
               
               
            // }
        }

        &-company {
            position: relative;
            overflow-y: auto;
            border: 3px solid #fff;
            border-radius: 3px;
            display:inline-block;
           // height: 35vh;
            width: 15vw;
            background-color: #7B2CBF;
            
            &-header {
                font-weight: 500;
                font-size: 30px;
                display: flex;
                justify-content: center;
                color: #7B2CBF;
            }
            &-wrapper {

                width: 100%;
                height: 130px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 30px;
                &-img {
                    height: 100px;
                    width: 100px;

                }
            }
        }

        &-skills {
            position: relative;
            display:inline-block;
            border: 3px solid #fff;
            border-radius: 3px;
            overflow-y: auto;
            //height: 30vh;
            width: 16vw;
            background-color: #7B2CBF;

            &-flex {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
            }

            &-header {
                font-weight: 500;
                font-size: 1.2vw;
                display: flex;
                justify-content: center;
                color: #fff;
            }

            &-wrapper {
                width: 4.5vw;
                height: 4.5vw;
                //padding-top: 1.5vw;
                padding-bottom: 1.5vw;
                padding-left: 10px;
                &-img {
                    height: 4vw;
                    width: 4vw;

                }
            }
        }
    }
}

.letter {
    display: inline-block;
    line-height: 1rem;
    opacity: 1;
}

.video-title {
    width: 100%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #240046;
    color: #fff;
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 0px;
}

.splide2 {
    width: 100%;
    height: 100%;
    background-color: #fff;
}


.splide__slide {
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: stretch;
}



.test {
    width: 100%;
    height: 400px;
    &-canvas {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        background-color: black;
    }
}

@keyframes fadein {
    
    from {
        opacity: 0;
        margin-left: 60%;
    }

    to {
        opacity: 1;
        margin-left: 65%;
    }
}

@keyframes textfadein {
   0% {
        opacity: 0;
      //  margin-top: 0px;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
       // margin-top: 100px;
    }

    // -webkit-animation: fadein 0.5s ease-in alternate 1;
            // -moz-animation: fadein 0.5s ease-in alternate 1;
            // animation: fadein 0.5s ease-in alternate 1;
}

 