<div class="home-container">
    <app-toasts></app-toasts>
    <div class="home-content">
        <div class="home-slider-container" #SliderContainer>
            <div class="splide">
                <div class="splide__track">
                      <ul class="splide__list">
                          <li class="splide__slide">
                            <!--Personal Info goes here-->
                            <div class="home-info-header-container">
                                <h1 class="home-info-welcome" #WelcomeContainer>Welcome</h1>
                            </div>
                            <ng-particles [id]="id" [options]="particlesOptions" class="home-info-canvas" (particlesLoaded)="particlesLoaded($event)">

                            </ng-particles>
                            <div class="home-info-body-container">
                                <div class="home-info-meat" #meatContainer>
                                    <div class="home-info-text" >
                                    <p class="home-info-text-p">
                                      {{ textinfo }}
                                    </p>
                                    </div>
                                    <div class="home-info-stuff">
                                      <div class="home-info-company">
                                        <h1 class="home-info-skills-header">Corporate Experience</h1>
                                        
                                        <div class="home-info-skills-flex">
                                          <div class="home-info-skills-wrapper">
                                            <img class="home-info-skills-wrapper-img" src="assets/images/ppg.png" alt="company logo" > 
                                          </div>
                                        
                                          <div class="home-info-skills-wrapper"> 
                                            <img class="home-info-skills-wrapper-img"  src="assets/images/jumpstart.jpg" alt="company logo"> 
                                          </div>
                                        </div>
                                      </div>
                                      
                                      <div class="home-info-skills">
                                        <h1 class="home-info-skills-header">Skills</h1>
                                        <div class="home-info-skills-flex">
                                          
                                          <div class="home-info-skills-wrapper">
                                            <img class="home-info-skills-wrapper-img" src="assets/images/dotnet.png" alt="skills logo" > 
                                          </div>
                                        
                                          <div class="home-info-skills-wrapper"> 
                                            <img class="home-info-skills-wrapper-img"  src="assets/images/angular.png" alt="skills logo"> 
                                          </div>
                                        
                                          <div class="home-info-skills-wrapper"> 
                                            <img class="home-info-skills-wrapper-img"  src="assets/images/csharp.png" alt="skills logo"> 
                                          </div>
                                        
                                          <div class="home-info-skills-wrapper"> 
                                            <img class="home-info-skills-wrapper-img"  src="assets/images/ts.svg" alt="skills logo"> 
                                          </div>
                                        
                                          <div class="home-info-skills-wrapper"> 
                                            <img class="home-info-skills-wrapper-img"  src="assets/images/java.png" alt="skills logo"> 
                                          </div>
                                        </div>
                                        </div>
                                    </div>

                                      
                                </div>
                                <div class="home-info-personwrapper" #personwrapper>
                                    <img class="home-info-portrait" src="assets/images/shot.jpg" alt="photo">
                                    <div class="home-info-social">
                                      <span  class="home-info-social-span">
                                          <img class="home-info-social-icon" src="assets/images/github.png" alt="social media logo" (click)="openLink($event)">
                                      </span> 
                                      <span class="home-info-social-span">
                                        <img class="home-info-social-icon" src="assets/images/test.png" alt="social media logo" (click)="openLink($event)">
                                      </span> 
                                      
                                    </div>
                                </div>
                                
                                
                            </div>
                            <div class="home-info-footer-container">
                              <span class="home-projectScroll">Check Out Project Demos Below!</span>
                            </div>
                            

                          </li>
                          <li class="splide__slide">
                            <!-- Add Slide Container Here -->
                            <div class="splide2">
                              <div class="splide__track">
                                <ul class="splide__list">
                                  <li class="splide__slide">
                                    <video  class="home-slider-container-video" controls>
                                      <source src="" type="video/mp4">
                                    </video>
                                  </li>
                                  <li class="splide__slide">
                                    <video  class="home-slider-container-video" controls>
                                      <source src="" type="video/mp4">
                                    </video>
                                  </li>
                                  <li class="splide__slide">
                                    <video  class="home-slider-container-video" controls>
                                      <source src="" type="video/mp4">
                                    </video>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </li>
                      </ul>
                </div>
              </div>
            </div>
    </div>
</div>

<!-- <div class="glide">
  <div data-glide-el="track" class="glide__track">
    <ul class="glide__slides">
      <li class="glide__slide">
        <div class="home-slider-container-video"></div>
        <video class="home-slider-container-video" controls>
          <source src="" type="video/mp4">
        </video>
      </li>
      <li class="glide__slide">
        <div class="home-slider-container-video"></div>
        <video  class="home-slider-container-video" controls>
          <source src="" type="video/mp4">
        </video>
      </li>
      <li class="glide__slide">
        <div class="home-slider-container-video"></div>
        <video class="home-slider-container-video" controls>
          <source src="" type="video/mp4">
        </video>
      </li>
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
  </div>
</div> -->
  