<div class="projects">
    <div class="projects-container">
        <mat-grid-list cols=" {{ cols }} " rowHeight="1:1" gutterSize="10px" class="projects-container-grid">
            <mat-grid-tile class="projects-container-grid-tile">
                <app-projectile
                [projectUrl] = "purl"
                [description] = "desc"
                [snapshotUrl] = "snap"
                [title] = "title"
                ></app-projectile>
            </mat-grid-tile>
            <mat-grid-tile class="projects-container-grid-tile">
                <app-projectile></app-projectile>
            </mat-grid-tile>
            <mat-grid-tile class="projects-container-grid-tile">
                <app-projectile></app-projectile>
            </mat-grid-tile>
            <mat-grid-tile class="projects-container-grid-tile">
                <app-projectile></app-projectile>
            </mat-grid-tile>
            <mat-grid-tile class="projects-container-grid-tile">
                <app-projectile></app-projectile>
            </mat-grid-tile>
            <mat-grid-tile class="projects-container-grid-tile">
                <app-projectile></app-projectile>
            </mat-grid-tile>

        </mat-grid-list>
    </div>
</div>
