.projects {
    margin-top: 3vh;
    display: flex;
    // height: calc(100% - 35px);
    width: 100%;
    justify-content: center;

    &-container {
        background-color: #240046;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        position: relative;
        overflow: auto;
        //height: 100vh;
        &-grid {
            &-tile {
                background-color: #240046;
            }
        }
    }
}