.header {
    background-color: #7B2CBF;
    color: #fff;

    &-h1 {
        font-weight: 900;
    }
    
}

.body {
    background-color: #7B2CBF;
    color: #fff;
    display: flex;
    justify-content: flex-start;
}

.footer {
    background-color: #7B2CBF;
    color: #fff;
}

.modalspan {
    display: inline-block;
    width: 100px;
    font-size: large;
    margin-right: 10px;
}

.modalinput {
    width: 190px;
}

.modaldiv {
    margin-bottom: 10px;
    display: flex;
}

.modalmspan {
    display: inline-block;
    width: 100px;
    font-size: large;
    margin-right: 10px;
    justify-content: start;
}

.modaltextarea {
    width: 300px;
}

